/* 
Aiden Morris
07/17/2023
Main CSS file for Final Project 
*/


@media print {
    h1 {
        font-size: medium;
    }

    body {
        font-family: 'Courier New', Courier, monospace;
        font-size: small;
        min-height: 90%;
    }

    input.sub_button {
        display: none;
    }
}

.grid-container {
    display: grid;
    grid-auto-columns: minmax(100px, auto);
    grid-auto-rows: minmax(100px, auto);
    border-style: solid;
    align-items: center;
}

.MPs_form {
    border-style: solid;
    min-width: 100%;
}

.meal {
    flex-wrap: wrap;
    max-width: 100px;
}

.day_title {
    border-right: solid;
}

.input-box {
    width: 65%
}

.sub_button {
    width: 100px;
    text-align: center;
}

h1 {
    text-align: center;
    min-width: 40px;
}

form#info_form {
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;

    margin-top: 20px;
    margin-bottom: 20px;
    width: 25%;

    background-color: blanchedalmond;
    border-style: dotted;
}

#main_div {
    text-align: center;
    border-style: double;
}

#usr_goal {
    height: 100px;
    width: 90%;
}

#MP_infoHeader {
    display: grid;
    background-color: antiquewhite;
    grid-template-columns: repeat(3, 1fr);
}

#mealPlan_submissionArea {
    margin-top: 25px;
}
